.nav-link{
    overflow: hidden;
    position: relative;
}
.nav-link::before{
    content: '';
    position: absolute;
    background-color: rgba(87, 86, 86, 0.689);
    width: 100%;
    height: 0.1em;
    display: inline-block;
    vertical-align: bottom;
    bottom: -9px;
    left: 0;
    right: 0;
    line-height: 2; 
}

.nav-link:hover{
    color: red;
}
.nav-link:hover::before{
    background-color: red;
}

.active-link{
    color: red;
    overflow: hidden;
    position: relative;
}
.active-link::before{
    content: '';
    position: absolute;
    background-color: red;
    width: 100%;
    height: 0.1em;
    display: inline-block;
    vertical-align: bottom;
    bottom: -9px;
    left: 0;
    right: 0;
    line-height: 2; 
}